body {
	background-color: #ECFCEA;
	font: 12pt Arial;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
p.read{
	font-family: 'PT Serif', serif;
	font-size: 20px;
}
img.banner {
	position: relative;
	width: 100%;
	height: auto;
}
div.container {
	margin: -130px auto;
	width: 1000px;
	background-color: None;
}
div.header {
	position: relative;
	height: 220px;
}
img.headshot {
	position: absolute;
	top: 20px;
	left: 40px;
	width: 180px;
	height: auto;
	box-shadow: 2px 3px 5px #000000;
}
div.title {
	position: absolute;
	top: 35px;
	left: 260px;
	width: 740px;
	height: 100px;
	text-align: center;
	font: 12pt Arial;
}
div.header_background{
	position: absolute;
	left: 0px;
	top: 50px;
	width: 1000px;
	height:120px;
	box-shadow: 2px 3px 5px #000000;
	background-color: #97A895;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	margin-bottom: 1px;
	font-weight: lighter;
}
div.body {
	position: relative;
}
div.navigation {
	position: absolute;
	top: 20px;
	left: 40px;
	width: 180px;
	font-family: 'Cinzel', serif;
	font-size: 16px;
}
div.content {	
	position: absolute;
	top: 0px;
	left: 260px;
	width: 660px;
	text-align: left;
	padding: 40px;
	padding-top: 0px;
}
h2 {
	font-family: 'Abel', sans-serif;
	font-size: 40px;
	font-weight: lighter;
	text-align: left;
	margin-bottom: 10px;
}
a, a:visited {
	color: #000000;
	text-decoration: none;
}
a, a:visited {
	color: #000000;
	text-decoration: none;
}
a.inline, a.inline:visited{
	color: #434F42;
	font-weight: bold;
}
div.nav{
	width: auto;
	height: 30px;
	text-align: center;
	padding-top: 10px;	
}
div.nav:hover{
	background-color: #637C7B;
}
div.citation{
	font: 11pt Arial;
	padding: 4px;
	margin: 4px;
}
div.citation:hover{
	background-color: #CEE5CC;
}


div.conf, div.conf_nolink{
	font: 11pt Arial;
	height: 40px;
	width: 660px;
	margin-bottom:10px;
}
div.conf:hover{
	background-color: #CEE5CC;
}
div.date{
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
}
div.presentation{
	float: left;
	width: 560px;
	padding-top: 5px;
}
div.footnote{
	font: 8pt Arial;
	font-style: italic;
	height: 10px;
	width: 660px;
	text-align: center;
}
div.blurb{
	width: 660px;
	margin-bottom: 40px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
}
